{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="container py-5">

<div class="row justify-content-center">

<div class="col-md-6">

<div class="card shadow border-0 rounded-4">

<div class="card-body p-5">

<div class="text-center">

<i class="bi bi-key-fill text-warning"
style="font-size:65px;"></i>

<h2 class="fw-bold mt-3">

Create New Password

</h2>

</div>

<form method="POST">

{% csrf_token %}

<div class="mb-3">

    <label class="form-label fw-semibold">
        New Password
    </label>

    <div class="input-group">

        {{ form.new_password1 }}

        <button
            class="btn btn-outline-secondary"
            type="button"
            onclick="togglePassword('id_new_password1', this)">

            <i class="bi bi-eye"></i>

        </button>

    </div>

</div>


<div class="mb-4">

    <label class="form-label fw-semibold">
        Confirm Password
    </label>

    <div class="input-group">

        {{ form.new_password2 }}

        <button
            class="btn btn-outline-secondary"
            type="button"
            onclick="togglePassword('id_new_password2', this)">

            <i class="bi bi-eye"></i>

        </button>

    </div>

</div>

</div>

</div>

</div>

{% endblock %}
<script>

function togglePassword(id, button) {

    const input = document.getElementById(id);

    const icon = button.querySelector("i");

    if (input.type === "password") {

        input.type = "text";

        icon.classList.remove("bi-eye");
        icon.classList.add("bi-eye-slash");

    } else {

        input.type = "password";

        icon.classList.remove("bi-eye-slash");
        icon.classList.add("bi-eye");

    }

}

</script>